.forcast {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.today {
  padding: 10px;
  text-align: center;
  background-color: gray;
}

.singleDay {
  padding: 10px;
  text-align: center;
}