
<div class="row justify-content-center"><h3></h3></div> 


{{!-- section --}}
  <section class="section my-4">
    <div class="container text-center">
      <div class="title py-5">
        <h1>Footer</h1>
          <p class="subtitle">Flexxall@live.com</p>
      </div>
      </div>
  </section>
{{!-- /section --}}


</body>
</html>