.main-container {
  max-width: 900px;

  margin: auto;
  margin-top: 15px;
  border-radius: 3px;
  background: #f6f6f6;
  padding-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.16);
}

.row {
  align-items: center;
  justify-content: center;
}
