.App {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../public/images/VectorBlack.jpg");
}

img {
  border-radius: 25px;
}

.card-img-top {
  max-width: 200px;
}

h1 {
  color: red;
}

.myfont {
  font-family: "Merienda", cursive;
  font-size: 140px;
  font-variant-caps: small-caps;
  text-decoration: none;
}

.myfont-small {
  font-family: "Merienda", cursive;
  font-size: 60px;
  font-variant-caps: small-caps;
  text-decoration: none;
}

.card-text {
  color: inherit;
  text-decoration: none;
}
